nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.logo{
    color: black;
    font-size: 24px;
}

body{
    margin: 0;
    padding: 0;
}

.links{
    display: flex;
    flex-direction: row;
    gap: 10px;
}